body{
   background: white; 
   font-family: Arial, Helvetica, sans-serif;
}

header{
    background: rgb(238, 20, 20);
    text-align: center;
    height: 300px;
    line-height: 300px;
}

nav{
    background: rgb(255, 39, 165);
    text-align: center;
    height: 300px;
    line-height: 300px;
}

#uno{
    background: rgb(20, 255, 20);
    height: 300px;
    width: 50%;
    text-align: center;
    line-height: 300px;
    float: left
}

#dos{
    background: rgb(231, 231, 24);
    height: 300px;
    width: 50%;
    text-align: center;
    line-height: 300px;
    float: left
}

#salvador{
    clear: both;
}

#tres{
    background: orange;
    text-align: center;
    height: 300px;
    line-height: 300px;
}

footer{
    background:  blue;
    text-align: center;
    height: 300px;
    line-height: 300px;
}
